#page-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 200%;
  margin: 5%;
}


#sales-nav {
  margin:50px;
  width:900px;
  font-family: sans-serif;
  display: flex;
  justify-content: left;
  margin-left: 600px;
}

#sales-nav li {
  display:block;
  width:120px;
  float:left;
  margin-left:2px;
  border:2px solid rgb(195, 91, 91);
  padding: 1%;

}

#store-table {
  background: pink;
  text-align:center; 
  border: 2px solid #9b394e;
  display: block;
  padding: 2px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 220px;
}


#opening-paragraph {
  border: 4px double #b15468;
  height: 50%;
  width: 50%;
  padding: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 350px;
}

#store-list {
  border: 1px solid black;
}



td {
  border: 3px solid rgb(253, 253, 253);
  padding: 10px;
  align-content: space-between;
  justify-content: center;
  
}



tfoot {
  border: 1px
}

#PSC {
  top: 200px; 
  left: 0; 
  width: 100%; 
}

.img { 
  position: relative; 
  width: 100%; 
}

.ribbon {
 font-size: 16px;
 width: 50%;
    
 position: relative;
 background: #b15468;
 color: #fff;
 text-align: center;
 padding: 1em 2em; 
 margin: 2em auto 3em; 
}

.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #9b394e;
 z-index: -1;
}

.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}

.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: pink transparent transparent transparent;
 bottom: -1em;
}

.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

.ribbon-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
}

#store-form {
  border: 2px dashed #9b394e;
  display: block;
  padding: 2px;
  margin: 0 auto;
  width: 50%;
}



label {
  margin:5px;
  padding: 1px;
  font-family: sans-serif;
  display: flex;
  justify-content: left;
  font-weight: bold;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(85, 28, 47);
  font-size: 250%;
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 10px;
}

.button {
  background-color: pink;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 1px solid black;
  margin: 4px;
}

.button:hover {
  padding: 3px;
  border: 3px solid black;
}

#hours {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  display: block;
  padding: 2px;
  margin: 0 auto;
  width: 50%;
}

#location-list {
  /* width: 1000px; */
  border: 2px solid rgb(85, 28, 47);
  float: left;
  clear: right;
  display: block;
  padding: 50px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  margin-bottom: 50px;
}

.location-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  /* display: block;
  padding: 2px;
  margin: 0 auto;
  width: 50%; */
  margin-top: 30px;
}

.location-address {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: rgb(216, 54, 81);
  /* display: block;
  padding: 2px;
  margin: 0 auto;
  width: 50%; */
  
}

#uber-logo {
display: block;
padding: 2px;
margin: 0 auto;
}

#locations {
  margin-left: 50px;
}

.google-map {
  float: left;
}
